    a{
        margin: 10px;
    }

    .active-link{
           background-color: darkmagenta; 
    }

    .logo{
        background-image: url('../../../assets/logo.png');
        height:50px;
        width: 50px;
        vertical-align: middle;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: right 0.2em;
        margin: 0px;
        padding: 0px;
    }

    .header-spacer{
        flex: 1 1 auto;
    }

    .mat-icon{
        vertical-align: middle;
        margin:0 5px;
    }