<mat-card class="register-card">
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="userForm">
            <table cellspacing="0" [formGroup]="userForm" class="full-width">
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input name="fullname" formControlName="fullname"  matInput placeholder="Fullname" required />
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input name="email" formControlName="email" matInput placeholder="Email" type="email" required />
                        </mat-form-field>
                      <!-- <mat-error *ngIf=" email.errors.email && email.invalid ">
                            Invalid email
                        </mat-error> -->
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input name="password" formControlName="password"  matInput placeholder="password" type="password" required />
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input name="repeatPassword" formControlName="repeatPassword"  matInput placeholder="repeat your password" type="password" required />
                        </mat-form-field>
                    <mat-error *ngIf=" repeatPassword.invalid && repeatPassword.errors.passwordMatch ">
                        Password should match
                    </mat-error>
                    </td>
                </tr>
            </table>
            </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="register()">
            Register
        </button>
        <span class="left-spacer"></span>
        <span>Already have <a routerLink="['/auth']">login </a>here</span>
    </mat-card-actions>
</mat-card>