<mat-grid-list cols="5" rowHeight="600px">
  <mat-grid-tile *ngFor="let product of ( products | async)">
    <mat-card class="example-card"  >
        <!--<mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header> -->
        <img mat-card-image src="{{ product.imgUrl }}" alt="{{ product.name }}">
        <mat-card-content>
          <p>
            {{ product.name }}: Rs {{product.price}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>
